body{
  color : #777982;
  font-family: sans-serif;
}
#page_name {
    display: inline;
    position: absolute;
    top: 81px;
    left: 413px;
    font-family: sans-serif;
    font-size: 14px;
}
#books{
  font-family:  sans-serif;
  font-size: 12px;
  position: absolute;
  right: 130.50px	;
  top:  20.25px;
}
#authors{
     font-family:  sans-serif;
     font-size: 12px;
     position: absolute;
     right: 48.00px;
     top:  20.25px;
     color: cornflowerblue;
}
#books a{
   color: #777982;
}
#authors a{
   color: cornflowerblue;
}
#no_of_books {
    display: inline;
    position: absolute;
    top: 81px;
    left: 865px;
    font-family: sans-serif;
    font-size: 14px;
}
.button {
    background: #6379f6;
    position: absolute;
    width: 157.50px;
    height: 30px;
    top: 114px;
    right: 395.5px;
    border: none;
    color: #ffffff;
}
.author-icon{
      width: 37.5px;
      position: relative;
      top: 8px;
      left: 6px;
      height: 42px;
}
.author-name{
    font-family: sans-serif;
    height: 19px;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    position: relative;
    top: -15px;
}
.author-name-box{
  position: relative;
  top: -20px;
  left: 43px;
  width: 308px;
}
.country{
  position: relative;
  color: #9095aa;
  font-style: normal;
  font-size: 11px;
}
.age{
      position: relative;
      left: 48px;
      top: -48px;
      color: #9095aa;
}
.sage{
  color: #777982;
}
#content-box{
  position: absolute;
  top: 114.00px;
  width: 525.75px;
  position:  absolute;
  left: 410px;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #f8f8fa; /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
      background-color: #f8f8fa;
      margin: auto;
      padding: 20px;
      border: 1px solid #888;
      width: 360px;
      height: 379.50px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
#in-div-input-age-box{
  width: 117px;
  height: 19.5px;
  position: relative;
  top: 43px;
  left: 20.5px;
  border-top: none;
  border-right: none;
  border-left: none;
  background: #f8f8fa;
}
#in-div-gender-selection{
  width: 91px;
  height: 19.5px;
  position: relative;
  top: 21.5px;
  left: 240.5px;
  border-top: none;
  border-right: none;
  border-left: none;
  background: #f8f8fa;
}
#in-div-input-born-box{
  position: relative;
  top: 48px;
  left: 20.5px;
  border-top: none;
  border-right: none;
  border-left: none;
  background: #f8f8fa;
}
#in-div-input-about{
  position: relative;
  top: 48px;
  left: 20.5px;
  border-top: none;
  border-right: none;
  border-left: none;
  background: #f8f8fa;
  width: 315.00px;
  height: 100px;
}
#in-div-cancel{
  top: 92px;
}
#in-div-submit{
  top: 56px;
}
.newdiv_{
  position: relative;
  top: -57px;
  left: 396px;
  width: 123px;
}
#in-div-input-country-box{
  position: relative;
  top: 26px;
  left: 210px;
  border-top: none;
  border-right: none;
  border-left: none;
  background: #f8f8fa;
  width: 122px;
  height: 19.5px;
}
